unsupervised_image_list.txt
*.pth.tar
*.pyc
.idea/workspace.xml
snapshots/
train_logs/
vgg_v1.txt
.DS_Store
nohup.out
*.h5
Baselines/models
Baselines/tf_implementation/models
Baselines/tf_implementation_old/models
params/
visualizations/
.idea/vcs.xml
ProposalResults/
DrawResults/
CropTest/
ProposalNetEvaluation/
*.zip
weights/
.ideas/
.idea/
